@using OnlineShop.Models
@model product
@{
    ViewData["Title"] = "Edit";

    <h2 class="text-info">Edit Product</h2>
    <form asp-action="Edit" method="post" enctype="multipart/form-data">
        <div class="p-4 rounded border row">
            <div asp-validation-summary="ModelOnly" class="text-danger">

            </div>
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="productName">Name: </label>
                    </div>
                    <div class="col-8">
                        <input type="hidden" asp-for="productId" />
                        <input asp-for="productName" class="form-control" />
                    </div>
                    <span asp-validation-for="productName" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="productPrice">Price: </label>
                    </div>
                    <div class="col-8">
                        <input asp-for="productPrice" class="form-control" />
                    </div>
                    <span asp-validation-for="productPrice" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="productImage">Image: </label>
                    </div>
                    <div class="col-8">
                        <input asp-for="productImage" name="image" class="form-control" type="file" />
                    </div>
                    <span asp-validation-for="productImage" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="productColor">Color</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="productColor" class="form-control" />
                    </div>
                    <span asp-validation-for="productColor" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="productCategoryId"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="productCategoryId" asp-items="ViewBag.productCategoryId" class="form-control"></select>
                        @*<input asp-for="ProductTypeId" class="form-control"/>*@
                    </div>
                    <span asp-validation-for="productCategoryId" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="IsAvailable"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="IsAvailable" class="" type="checkbox" />
                    </div>
                    <span asp-validation-for="IsAvailable" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Update" />
                    <a asp-action="Index" class="btn btn-success">Back to List</a>
                </div>
            </div>
            <div class="col-1"></div>
            <div class="col-3">
                <img src="~/@Model.productImage" width="100%" height="250px" style="border-radius: 5px;border: 1px solid #efefef"/>
            </div>
       
        </div>
    </form>
}

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

